* {
    margin: 0;
    padding: 0;
}

:root {
    --pri_color: red;
    --sec_color: rgb(110, 8, 8);
}

body{
    background-color: black;
}

header {
    background-image: url(assets/images/main_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000087;
    background-blend-mode: darken;
    height: 713px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

nav>.logo {
    height: 38px;
}

nav>ul {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

nav>ul li {
    list-style: none;
}

nav>ul li>button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.sign_in {
    border: none;
    background-color: var(--pri_color);
    height: 33px;
    width: 72px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
}

.language_selector {
    border: 1px solid grey;
    background-color: #0000008c;
    height: 33px;
    width: 120px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
}

.membership-prompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family : Arial, Helvetica, sans-serif;
    gap: 16px;
    margin-top: 179px;
    padding: 22px;
}

.membership-prompt > h1{
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.membership-prompt p{
    text-align: center;
}

.signup-form>div{
    display: flex;
    gap: 17px;
}

.signup-form #email{
    padding: 0px 20px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: #0000008c;
    color: white;
    height: 57px;
    width: 391px;
    box-sizing: border-box;
}

.signup-form #email::placeholder{
    color: grey;
    font-size: 18px;
}

.signup-form #get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--pri_color);
    height: 57px;
    width: 179px;
    border-radius: 3px;
    font-size: 22px;
    color: white;
    box-sizing: border-box;
}