* {
    margin: 0;
    padding: 0;
}

:root {
    --pri_color: red;
    --sec_color: rgb(110, 8, 8);
}

body{
    background-color: black;
}

header {
    background-image: url(assets/images/main_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000087;
    background-blend-mode: darken;
    height: 713px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 179px;
}

nav>.logo {
    height: 38px;
}

nav>ul {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

nav>ul li {
    list-style: none;
}

nav>ul li>button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.sign_in {
    border: none;
    background-color: var(--pri_color);
    height: 33px;
    width: 72px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
}

.language_selector {
    border: 1px solid grey;
    background-color: #0000008c;
    height: 33px;
    width: 120px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
}

.membership-prompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family : Arial, Helvetica, sans-serif;
    gap: 16px;
    padding: 22px;
}

.membership-prompt > h1{
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.membership-prompt>p:nth-child(2){
    text-align: center;
    font-size: 24px;
}

.membership-prompt>p:nth-child(3){
    text-align: center;
    font-size: 20px;
}

.signup-form>div{
    display: flex;
    gap: 17px;
}

.signup-form #email{
    padding: 0px 20px;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: #0000008c;
    color: white;
    height: 57px;
    width: 391px;
    box-sizing: border-box;
}

.signup-form #email::placeholder{
    color: grey;
    font-size: 18px;
}

.signup-form #get-started{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--pri_color);
    height: 57px;
    width: 179px;
    border-radius: 3px;
    font-size: 22px;
    color: white;
    box-sizing: border-box;
}

.enjoy-on-tv-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    font-size: 24px;
    color: white;
}

.enjoy-on-tv-section>.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.enjoy-on-tv-section>.text>h1{
    font-weight: 900;
}

.enjoy-on-tv-section>.text>p{
    width: 435px;
}

.tv{
    position: relative;
    font-family: sans-serif;
}

.tv>video{
    position: absolute;
    left: 86px;
    top: 102px;
    z-index: -1;
}

.line{
    height: 6px;
    background-color: #3b3b3b;
}

.watch-anywhere-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    font-size: 24px;
    color: white;
}

.device-pile{
    position: relative;
    font-family: sans-serif;
}

.device-pile>video{
    position: absolute;
    left: 116px;
    top: 60px;
    z-index: -1;
    height: 230px;
}

.watch-anywhere-section>.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}


.watch-anywhere-section>.text>h1{
    font-weight: 900;
}

.watch-anywhere-section>.text>p{
    width: 435px;
}

.faq{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: sans-serif;
    gap: 8px;
    padding-top: 60px;
}

.faq>h1{
    font-weight: 900;   
    font-size: 48px;
}

.question{
    background-color: rgb(45,45,45);
    border: none;
    display: flex;
    height: 84px;
    width: 80%;
    padding: 24px;
    color: white;
    font-size: 24px;
    text-align: left;
    transition: background-color ease;
}

.question:hover{
    cursor: pointer;
    background-color: rgb(59, 59, 59);
}

.question>p{
    width: 98%;
}

footer{
    color: rgba(255,255,255,0.7);
    text-decoration: underline;
    font-family: sans-serif;
}

footer>p:first-child{
    width: 86vw;
    margin: 76px auto 5px auto;
}

.footer-content{
    display: grid;
    height: 320px;
    grid-template-columns: repeat(5, 17vw);
    grid-template-rows: repeat(4, 41px) 121px;
    justify-content: center;
    justify-items: start;
    align-items: start;
    gap: 5px;
}